body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: url(logos/sf6\ logo.png)  ;
    background-position: px, 0px;
    background-size: 35%;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #c7c7c7;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(255, 158, 1, 0.592);
}

.top-three-sf6-list {
    margin-top: 20px;
    text-align: left ;
    margin-left: 20px;
}

.top-three-sf6-list img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    
}
