body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: url(logos/uni\ 2\ sc\ logo.png)  ;
    background-position: -925px;
    background-size: cover;
    
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #c7c7c7;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(255, 1, 221, 0.366);
}

.top-three-uni2sc-list {
    margin-top: 20px;
    text-align: left ;
    margin-left: 20px;
}

.top-three-uni2sc-list img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    
}
.ad-container {
    display: inline-block;
    width: 300px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    margin: 0 auto;
    text-align: center;
}

.ad-left {
    float: left;
}

.ad-right {
    float: right;
}
